#main-container {
  width: 80%;
  margin: 0 auto;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  flex-basis: 250px;
  margin-top: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card .card-container {
  padding: 5px;
  font-size: 0.2em;
}
.card-container .card-title {
  padding-bottom: 2px;
  font-size: 2em; /*to fix try change 2em to 2rem*/
}
.card-container .card-description {
  padding-bottom: 2px;
  font-size: 1em; /*to fix try change 1em to 1rem*/
}
